<%- model_class = Provision -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= form_tag(report_spentCategory_path, method: :get) do %>
<%= date_select 'date', nil, order: [:month, :year] %>

  <%= submit_tag 'Pesquisar' %>
<% end %>

<h2 class="text-center"><%= @dateSelected.strftime("%B") %></h2>

<%= @provisions.select(:id).to_param %>
<%# Spent.where(id: in (@provisions.select(:id).to_param)) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:category_id) %></th>
      <th><%= model_class.human_attribute_name(:value) %></th>
    </tr>
  </thead>
  <tbody>
    <% @provisions.each do |provision| %>
      <tr>
        <td><%= provision.category_description %></td>
        <td><%= provision.value %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
    <td><strong>Total: </strong></td>
    <td colspan="2"><strong><%= @provisions.sum(:value) %></strong></td>
    </tr>
</table>

<%# pie_chart @spentsAll.select('categories.name').group('categories.name').sum(:value), legend: true %>
